{% extends 'base.html' %}
{% block title %}Photography{% endblock %}
{% block content %}
<!-- Adapted from Portfolio Section from Folio template -->
<section id="photography" class="photography section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Photography</h2>
    </div><!-- End Section Title -->


        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                "loop": true,
                "speed": 600,
                "autoplay": {
                    "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                }
                }
            </script>
    
    
            <div class="swiper-wrapper">
                {% for photo in photos %}
                    <div class="swiper-slide">
                    <div class="testimonial-item">
                        <h4>{{ photo.photography_comment }}</h4>
                        <p>{{ photo.date_time }}</p>
                        <a href="{{ photo.photography_url }}" title="{{ photo.date_time }}" data-gallery="photography-gallery-general" class="glightbox preview-link">
                        <img src="{{ photo.photography_url }}" alt="{{ photo.date_time }}" class="img-fluid" width="600px" height="auto">
                        </a>

                        </p>
                    </div>
                    </div><!-- End testimonial item -->
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            </div>
        </div>
    

    </section><!-- /Portfolio Section -->

    {% endblock %}
