{% extends 'base.html' %}
{% block title %}Professional{% endblock %}

{% block content %}

<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Professional</h2>
        <p>A little about my past work and expertise. Scroll down for some links to projects I'm working on, alongside other key links for my work!</p>

    </div><!-- End Section Title -->


    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-graph-up"></i></div>
                    <h4><a href="">Data Science & Analysis</a></h4>
                    <p>I work as a data scientist for electronRx Ltd, a start-up based in Cambridge, UK. We are working on remote healthcare solutions for chronic lung diseases; a challenging arena but one with enormously rewarding results. I am always very happy to discuss any non-proprietary aspects of my work and the field of healthcare technology. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-gpu-card"></i></div>
                    <h4><a href="">Machine Learning & MLOps</a></h4>
                    <p>
                        After working heavily in the Google Cloud infrastructure in the last couple of years, I recently gained my Google Cloud certification as a Professional Machine Learning Engineer. Please ask me more about past projects from my Contact page.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-mortarboard"></i></div>
                    <h4><a href="">Doctorate</a></h4>
                    <p>
                        I finished my PhD in 2022. My field was Nuclear Physics and Medical Imaging, using image processing and data mining techniques alongside physics modelling to improve the use of ML with PET images. You can read more about it in my thesis, available <a href="https://research.manchester.ac.uk/en/studentTheses/assessing-the-robustness-of-radiomics-features-in-oncology-pet">here</a>.
                    </p>
                </div>
            </div>

        </div>
    </div>
    </section><!-- /Services Section -->


    <section id="projects" class = "services section">
    
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
        <p>Here is some of my past work, some projects, etc: </p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                "loop": true,
                "speed": 600,
                "autoplay": {
                    "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                }
                }
            </script>


            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <h3>gnee.co.uk - Static Website/Blog Project</h3>
                        <div class="github-card" data-github="gnee-git/gnee-website" data-width="400" data-height="" data-theme="default"></div>
                        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
                        <p>
                            This website is hosted on Google Cloud App Engine, and is built using the Folio template from BootstrapMade, wrapped up inside a Flask Python app. The code also contains Python apps for creating text and photography posts and database management using the Google Cloud Storage API.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <h3>GAN-Drum - ML Audio Sample Generator </h3>
                        <div class="github-card" data-github="gnee-code/gan-drum" data-width="400" data-height="" data-theme="default"></div>
                        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>    
                        <p>
                            A project inspired by <a href="https://gitlab.com/then-try-this/samplebrain"> Aphex Twin's Samplebrain </a>; using a GAN to generate new and interesting audio snapshots from an existing drum sample dataset. The code is written in Python and uses the PyTorch library. A work in progress...
                        </p>
                    </div>

                </div>

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <h3>gnee.co.uk - Static Website/Blog Project</h3>
                        <div class="github-card" data-github="gnee-git/gnee-website" data-width="400" data-height="" data-theme="default"></div>
                        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
                        <p>
                            This website is hosted on Google Cloud App Engine, and is built using the Folio template from BootstrapMade, wrapped up inside a Flask Python app. The code also contains Python apps for creating text and photography posts and database management using the Google Cloud Storage API.
                        </p>
                    </div>
                </div>



            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>



    </section>

    <section id="projects" class = "services section">
    
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>See also:</h2>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <!-- put this in the centre: -->
                        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="dc253fb0-3e64-4be7-9372-33654ff9247b" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <!-- put this in the centre: -->
                        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2841a327-9b25-4a43-803a-26045e8a01a1" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>                    
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <a
                        id="cy-effective-orcid-url"
                        class="underline"
                        href="https://orcid.org/0000-0002-0363-5840"
                        target="orcid.widget"
                        rel="me noopener noreferrer"
                        style="vertical-align: bottom">
                
                        <img
                            src="static/img/ORCID Logomark BW 128x128.png"
                            style="width: 25%"
                            alt="ORCID iD icon"/>
                        
                            orcid.org/0000-0002-0363-5840
                        </a>
                    </div>  
                </div>
            </div>
        </div>
    </section> 
    {% endblock %}


