{% extends 'base.html' %}
{% block title %}Professional{% endblock %}

{% block content %}

<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Professional</h2>
        <p>A little about my past work and expertise. Scroll down for some links to projects I'm working on, alongside other key links for my work!</p>

    </div><!-- End Section Title -->


    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-graph-up"></i></div>
                    <h4><a href="">Data Science & Analysis</a></h4>
                    <p>I work as a data scientist for electronRx Ltd, a start-up based in Cambridge, UK. We are working on remote healthcare solutions for chronic lung diseases; a challenging arena but one with enormously rewarding results. I am always very happy to discuss any non-proprietary aspects of my work and the field of healthcare technology. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-mortarboard"></i></div>
                    <h4><a href="">Doctorate</a></h4>
                    <p>
                        I finished my PhD in 2022. My field was Nuclear Physics and Medical Imaging, using image processing and data mining techniques alongside physics modelling to improve the use of ML with PET images. You can read more about it in my thesis, available <a href="https://research.manchester.ac.uk/en/studentTheses/assessing-the-robustness-of-radiomics-features-in-oncology-pet">here</a>.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-gpu-card"></i></div>
                    <h4><a href="">Machine Learning & MLOps</a></h4>
                    <p>
                        After working heavily in the Google Cloud infrastructure in the last couple of years, I recently became Google Cloud Certified as a Professional Machine Learning Engineer. I'm experienced and adept in model building and model serving in the cloud, and while much of my work to date is proprietary and as such unsuitable for sharing here, I'm always happy to share my experiences, thoughts and knowledge on request.
                    </p>
                </div>
            </div>


        </div>
    </div>
    </section><!-- /Services Section -->


    <section id="projects" class = "services section">
    
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
        <p><b>--COMING SOON--</b> Here is some of my past work, some projects, etc: </p>
    </div><!-- End Section Title -->



    </section>

    <section id="certifications" class="services section">
            <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Further References:</h2>
        </div><!-- End Section Title -->
            <div class="row">
                    <!-- put this in the centre: -->
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="dc253fb0-3e64-4be7-9372-33654ff9247b" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

                   <a
                    id="cy-effective-orcid-url"
                    class="underline"
                    href="https://orcid.org/0000-0002-0363-5840"
                    target="orcid.widget"
                    rel="me noopener noreferrer"
                    style="vertical-align: top">
                    <img
                        src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
                        style="width: 1em; margin-inline-start: 0.5em"
                        alt="ORCID iD icon"/>
                    https://orcid.org/0000-0002-0363-5840
                    </a>
                </div>
            </div>
        </section> 
    {% endblock %}


